In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [38]:
df= pd.read_csv("PeopleCare_TrainData.csv")

In [39]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Interested in getting Policy from PeopleCare
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes,40454.0,26.0,217.0,1.0
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No,33536.0,26.0,183.0,0.0
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes,38294.0,26.0,27.0,1.0
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No,28619.0,152.0,203.0,0.0
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No,27496.0,152.0,39.0,0.0

In [40]:
df.shape

(381098, 12)

In [41]:
import pandas as pd
def preprocess(df):
    df=df.drop(columns=["id"],axis=1)
    df=df.rename(columns={'Interested in getting Policy from PeopleCare':'Target'})
    df=pd.get_dummies(df,columns=["Gender","Vehicle_Age","Vehicle_Damage"],drop_first=True,dtype=int)    
    return df.dropna()

In [42]:
df=preprocess(df)
df.head()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Target,Gender_Male,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Vehicle_Damage_Yes
0,44.0,1.0,28.0,0.0,40454.0,26.0,217.0,1.0,1,0,1,1
1,76.0,1.0,3.0,0.0,33536.0,26.0,183.0,0.0,1,0,0,0
2,47.0,1.0,28.0,0.0,38294.0,26.0,27.0,1.0,1,0,1,1
3,21.0,1.0,11.0,1.0,28619.0,152.0,203.0,0.0,1,1,0,0
4,29.0,1.0,41.0,1.0,27496.0,152.0,39.0,0.0,0,1,0,0

In [43]:
df.shape

(91430, 12)

In [101]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=["Target"]),df["Target"],test_size=0.1,random_state=1)
X_train,X_val,y_train,y_val=train_test_split(X_train,y_train,test_size=0.25,random_state=1)

In [102]:
(X_train.shape[0])/df.shape[0]

0.6749972656677239

In [103]:
X_val.shape[0]/df.shape[0],X_test.shape[0]/df.shape[0]

(0.22500273433227605, 0.1)